<div class="panel panel-primary" title='Apoio'>

            <div class="card" align="center">  
                <img src="/img/prefeitura.png" style="width:284px;height:120px;">
                    </div>

            <div class="card" align="center">  
                <img src="/img/ernetwork.png" style="width:284px;height:79px;" ng-click="apoio('ernetwork')">
                    </div>
                       
            <div class="card" align="center" >
                <img src="/img/aion.png" style="width:284px;height:79px;" ng-click="apoio('aion')">
            </div>

            <div class="card" align="center">
                <img src="/img/irroba.png" style="width:254px;height:75px;" ng-click="apoio('irroba')">   
                    </div>

            <div class="card" align="center">
                <img src="/img/chb.png" style="height:100px;" ng-click="apoio('chb')">
                    </div>

            <div class="card" align="center">
                <img src="/img/eddydata.png" style="width:190px;height:100px;" ng-click="apoio('eddydata')">
                    </div>

            <div class="card" align="center">
                <img src="/img/jrti.png" style="width:150px;height:100px;" ng-click="apoio('jrti')">   
                    </div>

            <div class="card" align="center">
                <img src="/img/smn.png" style="width:150px;height:100px;" ng-click="apoio('smn')">   
                    </div>

            <div class="card" align="center">
                <img src="/img/BrasaoFranca.png" style="width:150px;height:150px;">   
                    </div>
</div>

<div id="aion" style="display:none">

O principal resultado de nosso 
trabalho é possibilitar que 
nossos clientes foquem no 
cuidado ao paciente e não no mau 
funcionamento de um equipamento 
médico ou nas despesas 
decorrentes desse problema.
 Objetivando este resultado a 
Aión, por meio de parcerias com 
entidades de renome 
internacional, traz para o Brasil o que há de mais moderno em 
gestão de ativos eletro médicos 
no mundo. Dos vários serviços 
presentes em nosso portfólio, 
um ou um conjunto deles irão 
fornecer a solução ideal para o 
seu negócio. Entenda como cada 
serviço de nosso portfólio 
pode ajudar sua empresa, em caso 
de dúvidas entre em contato 
diretamente com um de nossos 
especialistas. Eles estão sempre 
disponíveis para ajudar a montar 
o mix ideal de serviços para sua 
solução, única e personalizada.</h1>

</div>

<div id="ernetwork" style="display:none">

 A ERnetwork é uma empresa com 
foco em consultoria e prestação 
de serviços na área de Tecnologia 
da Informação, com sólidos 
conhecimentos em desenvolvimento 
de sistemas, integrações com 
sistemas ERPs e projetos 
customizados, atuando 
profissionalmente, de forma a 
garantir a qualidade e a 
pontualidade na entrega dos 
serviços contratados. Entendemos 
que a qualidade na prestação de 
seus serviços é essencial para o 
sucesso. 

</div>

<div id="irroba" style="display:none">

Ao longo dos anos a Irroba 
desenvolveu diversos tipos de 
sistemas como lojas virtuais, 
ferramentas de cobrança, 
gerenciador de relacionamento 
com clientes (CRM) e gerenciador 
de conteúdo (CMS) para websites, 
blogs e portais. Isso fez com que
a empresa e sua equipe ganhasse 
grande conhecimento e 
experiência em programação 
de sistemas para web, foi 
então que surgiu a idéia de 
focar toda nossa experiência 
em um único projeto "comércio 
eletrônico".

</div>

<div id="chb" style="display:none" >

 A CHB utiliza na geração de seus 
aplicativos uma ferramenta de 
desenvolvimento acelerado (RAD), 
multiplataforma, denominada 
enexus, que incorpora uma 
tecnologia única no mundo 
permitindo a geração e 
manutenção automáticas de 
aplicações de missão crítica. 
Adotando a infra-estrutura de 
desenvolvimento propiciada 
pelo Genexus, os produtos 
CHB apresentam-se com 
características que garantem 
menores custos de implantação e 
manutenção, além de apropriar-se 
das vantagens de serem aplicados 
nas plataformas, Windows 
(Visual Basic), Linux (JAVA) e 
Web (JAVA WEB), disponíveis 
para uso nos bancos de dados 
Oracle, SQL Server, PostgreSQL 
e DB2 IBM.

</div>

<div id="eddydata" style="display:none">

 Consultoria, Assessoria e 
Cursos. Prestamos serviços de 
excelência na área pública, 
orientando gestores, vereadores 
secretários municipais, 
diretores  e servidores dos 
poderes públicos para 
desenvolverem uma gestão 
responsável, contemplando os 
princípios inerentes à 
administração pública.


</div>

<div id="jrti" style="display:none">

 Ser um grande centro inovador  
e desenvolvedor, utilizando as 
melhores ferramentas de 
desenvolvimento do mercado, 
capacitando nossos clientes e 
parceiros na obtenção do maior 
retorno de seus investimentos, 
sempre com funcionários 
treinados e estimulados para a 
eterna busca do ambiente 
perfeitode trabalho e 
produtividade.

</div>

<div id="smn" style="display:none">
 Montou-se a SMN como uma 
empresa coligada a SulMinasNet 
objetivando ser um braço de 
comercialização de equipamentos 
e desenvolvimento de software 
para suprir os clientes da 
SulMinasNet. Neste momento a SMN 
incorpora também a Netfirst 
ficando então uma única empresa
de desenvolvimento de soluções em TI.
 Por conta da escassez de 
profissionais TI na região a SMN 
resolve criar seu Programa de 
Estágio que objetiva formar 
técnicos para atuarem na própria 
empresa. Resumidamente o 
estagiário era treinado para
atuar como desenvolvedor ou como 
técnico de internet e assim que 
demonstrasse estar apto e
produzindo era contratado 
efetivamente pela SMN ou pela 
SulMinasNet, ou seja, estagio 
com contratação garantida caso o 
estagiário se destacasse.</h1>

</div>
