<div ng-init="init()" class="panel panel-default panel-body panel-ernetwork">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title line_font_size_list">Mesas</h4>
        </div>
        <div class="panel-body no_padding padding_bottom_top_list">
            <div class="list-group">
                <div ng-repeat="mesa in mesas">
                    <div class="list-group-item list_group_item_padding">

                    </div>
                    <div class="list-group-separator cor_black_separador"></div>
                </div>
            </div>
        </div>
    </div>

</div>