<div ng-init="init()">
    <!-- <div ng-repeat="subgrupo in grupo.subgrupo track by $index"> -->
    <div ng-repeat="apac in listApacs track by $index">
        <h4 class="proced">
         <!-- card -->
            <div class="textop">
                <br>
                <p><strong style="font-size:20px">Procedimento:</strong> 
                <br>{{apac.DescricaoProcedimento}}</p>
                <p><strong style="font-size:20px">Data Consulta:</strong>
                <br> {{apac.DataConsulta}}</p>
                <p><strong style="font-size:20px">Controle:</strong>
                <br>{{apac.controle}}</p>
                <p><strong style="font-size:20px">Situação:</strong>
                <br>{{apac.SituacaoAPAC}}</p>
                <button class="btn-ver" ng-click="carregarProcedimentos(apac.controle)">Mais Detalhes</button>
            </div>  
        </h4>
    </div>
</div>
                                                    <div id="collapseOne" class="panel-collapse panel-collapse in" role="tabpanel" aria-labelledby="headingOne" ng-show="exibir_itens_subgrupo(subgrupo)">
                                                        <div class="panel-body panel_paddin">
                                                            <div class="table-responsive">
                                                                <table class="table margin_bottom_table">
                                                                    <!-- <tbody ng-repeat="produto in subgrupo.produtos track by $index"> -->
                                                                    <tbody>
                                                                        <!-- time line -->
                                                                        <tr>
                                                                            <td class="produto">
                                                                                <span style="display:flex; background-color:gainsboro;">{{produto.descricao}}</span>

                                                                            </td>
                                                                        </tr>
                                                                        <!-- fim time line -->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
<!-- modal procedimentos -->
<div >
    <div>
        <div class="modal" data-keyboard="false" data-backdrop="static" id="modal_procedimentos">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align:center"><strong>Procedimento: {{DescricaoProcedimento}}</strong></h4>
                        <h5></h5>
                    </div>
                    <div class="modal-body modal_body_Opcao">
                        <div class="form-group">
                            <div class="col-lg-12" ng-repeat="item in listproc" id="modal">
                                        <p><strong>Data Consulta</strong>
                                        <br>{{item.DataConsulta}}</p>
                                        <p><strong>Medico Solicitante</strong>
                                        <br>{{item.MedicoSolicitante}}</p>
                                        <p><strong>Unidade Solicitante</strong>
                                        <br>{{item.UnidadeSolicitante}}</p>
                                        <p><strong>Controle</strong>
                                        <br>{{item.controle}}</p> 
                                        <hr/>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button class="btn-fechap" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fim modal procedimentos -->