<div ng-init="init()" class="panel panel-default panel-body panel-ernetwork">
    <div class="form-group">
        <div class="list-group margim_bottom_0">
            <div>
                <div class="list-group-item list_group_item_padding">
                    <div class="row-content rowGrupo">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default panel_grupo_produto" ng-init="init()">
                                <div id="collapseOne" class="panel-collapse navbar-collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body panel_paddin">
                                        <!-- <div ng-repeat="subgrupo in grupo.subgrupo track by $index"> -->
                                        <div ng-repeat="apac in listApacs track by $index">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default panel_interno_subgrupo">
                                                    <div class="panel-heading painelTitleGrupo" role="tab" id="headingOne">
                                                        <h4 class="panel-title" ng-click="carregarProcedimentos(apac.controle)">
                                                            <!-- card -->
                                                            Procedimento:
                                                            <br> {{apac.DescricaoProcedimento}}
                                                            <br> Data Consulta:
                                                            <br> {{apac.DataConsulta}}
                                                            <br> Controle:
                                                            <br> {{apac.controle}}
                                                            <br> Situação:
                                                            <br> {{apac.SituacaoAPAC}}
                                                            <br>



                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse panel-collapse in" role="tabpanel" aria-labelledby="headingOne" ng-show="exibir_itens_subgrupo(subgrupo)">
                                                        <div class="panel-body panel_paddin">
                                                            <div class="table-responsive">
                                                                <table class="table margin_bottom_table">
                                                                    <!-- <tbody ng-repeat="produto in subgrupo.produtos track by $index"> -->
                                                                    <tbody>
                                                                        <!-- time line -->
                                                                        <tr>
                                                                            <td class="produto">
                                                                                <span style="display:flex; background-color:gainsboro;">{{produto.descricao}}</span>

                                                                            </td>
                                                                        </tr>
                                                                        <!-- fim time line -->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal procedimentos -->
<div >
    <div>
        <div class="modal" data-keyboard="false" data-backdrop="static" id="modal_procedimentos">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Procedimento: {{pr.descricao}}</h4>
                        <h5></h5>
                    </div>
                    <div class="modal-body modal_body_Opcao">
                        <div class="form-group">
                            <div class="col-lg-12" ng-repeat="item in listproc">
                                <ul class="list-group">
                                        <li>descrição procedimento?</li>
                                        <li>?</li>
                                        <li>Data Consulta</li>
                                        <li>{{item.DataConsulta}}</li>
                                        <li>Medico Solicitante</li>
                                        <li>{{item.MedicoSolicitante}}</li>
                                        <li>Unidade Solicitante</li>
                                        <li>{{item.UnidadeSolicitante}}</li>
                                        <li>Controle</li>
                                        <li>{{item.controle}}</li>  
                                </ul>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fim modal procedimentos -->