<div class="panel panel-primary" >
  

                <h2 text-align="left">Aplicação criada no Hackaton Social 2017. Evento criado com apoio de diversas empresas do ramo de tecnologia juntamente com Prefeitura de Franca.
                <p><br>Desenvolvedores:</p>
                				 Gabriel Souza<br>
                				 Bruno Brancalhão
                				 Marcelo Veronez
                				 Guilherme Teixeira
                				 Gabriel Martins</h2>

                				 <img src="/img/unifacef.jpg" style="width:284px;height:79px;" >
    </div>
</div>