<div style="text-align: center;">
    <img src="img/logo_256-177.png">
    <br>
    <br>
    <div ng-show="menu_alternativo">
        <li style="display: inline-block;">
                <a href="#/cardapio"><button class="fa fa-list-ol green_status2" style="width:122px; height:65px; font-size:30px; color:white; ">  </button></a>
        </li>
        <li style="display: inline-block;">
                <a href="#/pedido/atendente"><button class="fa fa-pencil-square-o green_status2" style="width:122px; height:65px; font-size:30px; color:white; "> </button></a>
        </li>
        <li style="display: inline-block;">
                <a href="#/pedido/consultar_mesa"><button class=" fa fa-cutlery green_status2" style="width:122px; height:65px; font-size:30px; color:white; "></button></a>
        </li>
        <li style="display: inline-block;"ng-show="botao_receita">
                <a href="#/produto/receita"><button class="fa fa-book green_status2" style="width:122px; height:65px; font-size:30px; color:white; ">  </button></a>
        </li>
        <li style="display: inline-block;">
                <a href="#/"><button class="fa fa-sign-out green_status2" style="width:122px; height:65px; font-size:30px; color:white; "ng-click="logoff()">  </button></a>
        </li>
    </div>
</div>